/********** User - Basic data ***********/
.user-info{
	
}

.user-info li span {
	border-radius: 0;
    border-top: 0;
    border-left: 3px solid transparent;
    color: #444;
    position: relative;
    display: block;
    padding: 10px 15px
}

.user-info li span:hover {
	color: #444;
    background: #f7f7f7;
}

.edit-user-info {
	display: none;
}

.avatar-user-change {
    float: left;
}

.avatar-user-change img{
	width: 65px;
    height: auto;
    float: left;
}

/********** User - History ***********/
 .history-member-panel {
 	margin-top: 20px;
 	min-height: 200px;
 }
 
 .history-member-box textarea {
 	margin: 10px 0 ;
 }
 
 .history-content {
 	  margin: 30px 0;
 }
 
.history-list {
	 list-style-type: none;
	 margin: 0 0 20px 0;
	 padding: 0;
	 width: 100%;
	 font-size: 14px;
}

.history-list li {
	padding: 10px !important;
	background: #e7e8ea;
	margin-bottom: 2px;
	border-bottom: none !important;
	border-left: 3px solid #58C9F3;
}

.history-list li i {
  padding: 0 4px 0 10px;
  cursor: pointer;
  float: left;
  color: #111;
}

.history-list .header {
	border-bottom: 1px solid #E0E0E0;
	margin-bottom: 8px;
	text-align: right;
	font-size: 12px;
}

.history-member-box {
	display: none;
}

.member-link {
	color: #222222;
}

/********** User - Task ***********/

.task-member-panel {
 	margin-top: 20px;
 	min-height: 200px;
 }
 
 .task-member-box {
}
 
 .create-task-box {
	margin-top: 15px;
	color:#666!important;
	display: none;
}

.create-task-box .top {
}

.create-task-box .top .to {
	width: 20%;
	float: left;
}

.create-task-box .top .date {
	width: 25%;
	float: left;
}

.create-task-box .top .date input {
	font-size: 14px!important;
}

.create-task-box .top .hour {
	width: 20%;
	float: right;
	text-align: right;
}

.create-task-box .middle textarea {
	margin: 10px 0 10px 0 ;
	height: 50px;
	padding: 5px;
}
.clear {
	clear: both;
}
.create-task-box a {
	float: left;
}

.task-content {
 	  margin: 30px 0;
 }

.task-list {
	 list-style-type: none;
	 margin: 0 0 20px 0;
	 padding: 0;
	 width: 100%;
	 font-size: 14px;
	 color: #797979;
}

.task-list li {
	padding: 10px !important;
	background: #e7e8ea!important;
	margin-bottom: 2px;
	border-bottom: none !important;
	
}

.task-list .completed {
	border-left: 3px solid #43ac6a;
}

.task-list .pending {
	border-left: 3px solid #f04124;
}

.task-list .today {
	border-left: 3px solid #008cba;
}

.task-list .future {
	border-left: 3px solid #e99002;
}

.task-list li i {
  padding: 0 4px 0 10px;
  cursor: pointer;
  float: left;
  color: #111;
}

.task-list .header {
	border-bottom: 1px solid #E0E0E0;
	margin-bottom: 8px;
	font-size: 12px;
}

.task-list .header .status {
	float: left;
}

.task-list .header .member {
	float: right;
}

.task-list .header .info {
	float: left;
}

.task-list .footer {
	border-top: 1px solid #E0E0E0;
	margin-top: 4px;
	padding: 4px;
	font-size: 11px;
}

.task-list .footer a {
	float: left;
	color: rgb(67, 172, 106);
}

.task-list  .icon {
	float: right;
	color: rgb(67, 172, 106);
	margin-left: 20px;
}

/********** User - Payments ***********/

.segment-user-payment {
	margin-bottom: 20px;
}

.payment-item .info-box-icon a i{
	color: #fff;
}

.payment-item .info-box-icon i{
	margin-top: 34px;
}

.payment-item .info-box-icon {
	height: 106px!important; 
}

.payment-options {
	margin:0;padding:0;list-style:none
}
/****** Main Task Menu ********/

.main-menu-tasks {
	
}

.main-menu-tasks a {
	text-transform: lowercase;
	margin-left: 30px;
	padding-bottom: 2px;
	color: #222;
}

.main-menu-tasks a:hover {
	text-decoration: none;
}

.pending-task-border {
	
}


.roomList {
	font-size: 14px;
}

.datepicker{z-index:1151 !important;}



.vertical-spacer {
	height: 40px;
}

#boxChat {
	min-height: 450px;
}

.add-room-boxes {
	display: none;
}

#paymentOptionsCancelled {
	color: red;
}

.deleteApartment {
	margin-top:7px;
}

#deleteOwner {
	margin-left: 10px;
}

#deleteRoom {
	margin-left: 10px;
}

#deleteCategory {
	margin-left: 10px;
}

.company-item {
	height: 260px!important;
	overflow: hidden;
}

.company-item .profile-user-img {
	width: 220px;
}

.company-item .profile-username {
	font-size: 16px;
}

.widget-user-2 .widget-user-header {
    padding: 10px 0 50px 10px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.widget-user-2 .widget-user-image > img {
	width: 200px!important;
	border-radius: 3px;

}

.widget-user-2 .widget-user-username, .widget-user-2 .widget-user-desc {
    margin-left: 221px;
}

.categoriesSelection ul li {
    float: left;
    margin: 10px;
        list-style: none;
}

.categoriesSelection ul li a {
    background-color: #00c0ef !important;
    color: #fff;
    padding: 4px 6px;
    border-radius: 4px;
    font-size: 12px;
}

.categoriesSelection ul li a.active {
    background-color: #3c8dbc !important;
}

/* Logo uploader */

.logo-box {
    height: 170px;
    margin-top: 30px;
    display: none;
}

#save-crop-logo {
	display: none;
}

/*  Sliders company     */

/*  Sliders */ 

.slider-box-logo {
    margin-top: 20px;
}

#slider-items .slider-item {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;
    border-radius: 4px;
    height: auto;
}

#slider-items .slider-item header a {
	color: red;
}

.slider-box-logo .slider-item>header {
    text-align: right;
    border: none;
}

.slider-box-logo section {
    float: left;
    width: 100%;
}

.slider-box-logo section .img-container {
    float: left;
    margin: -1px 20px 5px 0;
}

.slider-box-logo section .slider-labels {
    float: left;
    width: 663px;
}

.company-logo-upload {
    width: 100%;
    min-height: 410px;
    height: auto;
    margin-bottom: 20px;
    display: none;
}

.company-slider-upload {
	margin-bottom: 20px;
	display: none;
}

.slider-box-logo .main-slider-upload .crop-container {
    margin: 0 auto;
}

.slider-box-logo .company-slider-upload .save-crop {
    margin: 10px 28px 0 0;
    display: none;
}

#save-crop-company-slider {
	display: none;
}

/*  Company gallery */
.company-gallery-grid {
    width:  100%;
    height: auto;
    margin-top: 20px;
}

.company-gallery-grid .image-box {
	float:                  left;
	margin:                 0 20px 24px 0;
}

.company-gallery-grid .image {
    width:                  200px;
    height:                 111px;
    -moz-border-radius:     5px;
    -webkit-border-radius:  5px;
    behavior:               url(border-radius.htc);
    overflow:               hidden;
}

.company-gallery-grid a {
	color: red;
}


/* Main sliders */

/*  Sliders */ 

.slider-box {
	margin-top: 20px;
}

.slider-box .slider-item {
	min-height: 100px;
	margin-bottom: 20px;
	background: #F5F3F3;
	padding: 1% 3%;
	border-radius: 4px;
	border-radius: 4px;
	height: auto;
}

.slider-box .slider-item>header {
	text-align: right;
	border: none;
}

.slider-box section {
	float: left;
	width: 100%;
}

.slider-box section .img-container {
	float: left;
	margin: -1px 20px 5px 0;
}


.slider-box input, .slider-box textarea { 
	width: 100%;
	height: 25px;
	padding-left: 10px;
	outline: none;
	border: 0;
	border: 1px solid #e4e4e4;
	-o-border-radius: 3px;
	border-radius: 3px;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.05);
	font-size: 1.1em;
	color: #000;
    margin-bottom: 15px;
}

.slider-box textarea {
    padding-top: 5px;
    height: 40px;
}

.slider-box .main-slider-upload {
	width: 100%;
	min-height: 410px;
	height: auto;
	margin-bottom: 20px;
	display: none;
}

.slider-box .main-slider-upload .crop-container {
	margin: 0 auto;
}

.slider-box .main-slider-upload .save-crop {
	margin: 10px 28px 0 0;
	display: none;
}

#slider-items .main-slider-item header a {
	color: #fff;
}













